body {
  background-color: #262626;
}

h1, h2, h3, h4 {
  text-align: center;
  font-family: 'Courier New';
}

img {
  margin: auto;
  display: block;
  box-shadow: 5px 5px 5px grey;
}

.content {
  background-color: #ffffff;
  max-width: 570px;
  margin: auto;
  border: 2px;
  border-color: black;
  padding: 16px;
  /* padding-left: 16px; */
  /* padding-bottom: 16px; */
  font-family: "Courier New";
}